
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root {
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}
body{
  font-family: 'lato', sans-serif;
}
/* Navbar styles */
nav{
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0,0,0, .2);
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}
nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
}
.left{
  width: 50%;
  text-align: left; 
}
.left a {
  font-weight: 700;
  color: var(--mainColor);
  font-size: 21px;
}
.right{
  width: 50%;
  text-align: right;
}
.shoppingCart i{
  display: inline;
  font-size: 25px;
  margin-right: 15px;
  color: var(--lightDark);
}
.cartCount {
  display: inline-block;
  width: 45px;
  height: 35px;
  background: var(--mainColor);
  color: white;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}
/* Heloers */
.container {
  width: 100%;
  padding: 0 100px;
}
/* Banner styles */
header {
  background: url("./images/background.jpg");
  width: 100;
  height: 250px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex;
  align-items: center;
  box-sizing: border-box; */
  color: #fff;
}
.headerText{
  background: rgba(0,0,0, .5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  letter-spacing: 2px;
  /* background: linear-gradient(to left, #F650FE, #607BF5); */
}
.headerText h1 {
  font-size: 35px;
}
.headerText p {
  margin-top: 7px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
/* products styles*/
.products{ 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 
}
.product{
  width: 25%;
  padding: 0 12px;
  margin: 20px 0px;
  overflow: hidden;
  position: relative;
  text-size-adjust: auto;
}
.hot{
  position: absolute;
  top: 0%;
  background: orangered;
  padding: 5px 18px;
  color: var(--whiteColor);
}
.new{
  position: absolute;
  top: 0%;
  background: greenyellow;
  padding: 5px 18px;
  color: var(--whiteColor);
}
.products :hover{
  box-shadow: 2px 1px 5px gray;
}
.product-image{
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-size-adjust: auto;
  

}
.product-details{
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;

}
.product-name{
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
.product-price{
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0;
}
.add-to-cart{
  background: var(--mainColor);
  padding: 10px 20px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
/* Not Found styles */
.not-found-container {
  font-size: 28px;
  margin-top: 350px;
  display: flex;
  align-items: center;
  justify-content:center;
  color: #e479e7;
}
/* cart Styles */
.cart-container{
  width: 100%;
  margin-top: 70px;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cart-details{
  width:  75%;
  border: 1px solid rgb(245, 241, 241);;
  /* border: 1px solid #fafafa; */
  border-radius: 5px;
}
.cart{
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;
}
.cart_image{
  display: inline-block;
  width: 80px;
  height: 80px; 
  overflow: hidden;
  border-radius: 5px;
} 
.cart_image img{
  width:100%;
  height: 100%;
}
.cart-product-name{
  display: inline-block;
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
.cart-product-price{
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: var(--mainColor);
}
.inc{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--mainColor);
  font-size: 14px;
  color: var(--mainColor);
  border-radius: 5px;
  cursor: pointer;
}
.product_quantity{
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}
.dec{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgb(196, 80, 80);
  font-size: 14px;
  color: rgb(196, 80, 80);
  border-radius: 5px;
  cursor: pointer;
}
.product-total-price{
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  text-align: center;
}
.delete-product{
  border: none;
  color: rgb(196, 80, 80);
  cursor: pointer;
}
/* cart Summery */
.cart-summery{
  width: 25%;
  margin-top: 100px;
  padding: 0 0 0 20px;
  
 
}
.summery{
  background: var(--whiteColor);
  padding: 13px;
  padding-bottom: 8px;
  border: 1px solid rgb(245, 241, 241);
  border-radius: 5px;
}
.summery h3{
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #999;
 
}
.total-items {
  display: flex;
  margin: 15px 0;
}
.items{
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-count{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}
.total-price-section{
  display: flex;
  margin: 15px 0;
}
.just-title{
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-price{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}

